group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget FSharp.Core
    nuget Giraffe
    nuget Thoth.Json.Giraffe
    nuget Microsoft.EntityFrameworkCore.Design

group Client
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
    nuget Fable.React ~> 5
    nuget Fable.FontAwesome.Free
    nuget Thoth.Fetch
    nuget Thoth.Json
    nuget Feliz
    nuget Feliz.Bulma
    nuget Feliz.Router
    nuget Feliz.Recharts
    nuget Zanaptak.TypedCssClasses

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem

group Tests
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget FSharp.Core
    nuget Argu
    nuget Expecto
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.FsCheck
    nuget Expecto.Hopac
    nuget Microsoft.NET.Test.Sdk
    nuget YoloDev.Expecto.TestSdk
    nuget canopy
    nuget Selenium.WebDriver.ChromeDriver
